.container {
  font-family: "Alexandria";
  width: 480px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #080b10;
  padding: 20px;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 20px;
}

.error {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 350px;
  height: 20px;
  color: rgba(251, 72, 72, 0.884);
  margin-top: 10px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.label-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input,
.textarea {
  padding: 10px;
  color: #fff;
  border: none;
  background-color: #212b3d;
  width: 100%;
  max-width: 370px;
  border-radius: 5px;
  margin-top: 5px;
}

.textarea {
  height: 80px;
}

.submit {
  margin-top: 20px;
  border-radius: 10px;
  background-color: rgb(57, 71, 36);
  width: 180px;
  height: 40px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.submit:hover {
  background-color: rgb(83, 113, 38);
}

label {
  color: white;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
