.adminProductItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.productDetails {
    display: flex;
    align-items: center;
}

.adminProduct__img {
    width: 214px;
    height: 225px;
    object-fit: cover;
    /* border-radius: 10px; */
    margin-right: 20px;
}

.adminProductInfo {
    padding: 10px;
}

.productName {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 5px;
}

.productRating {
    font-size: 16px;
    color: #666;
    display: flex;
    align-items: center;
    padding: 5px;
}

.productPrice {
    font-size: 16px;
    color: #666;
    padding: 5px;
}

.adminButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.updateButton,
.deleteButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.updateButton {
    background-color: #007bff;
    color: white;
}

.updateButton:hover {
    background-color: #0056b3;
}

.deleteButton {
    background-color: #dc3545;
    color: white;
}

.deleteButton:hover {
    background-color: #c82333;
}
