.main {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin: 0 auto;
}

.products__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* padding: 20px; */
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 245px;
    max-width: 300px;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    color: black
}

.product>img {
    height: 214px;
    width: 100%;
    object-fit: fit;
    /* margin-bottom: 15px; */
    /* object-position: 50% 50%; */
}

.product>button {
    background-color: rgb(58, 245, 188);
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.product>button:hover {
    background-color: rgb(48, 205, 158);
}

.product__price {
    margin-top: 5px;
}

.product__info {
    width: 100%;
    padding: 5px;
}

.product__name {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
}

.product__price,
.product__rating {
    padding: 5px;
    margin-left: 10px;
}

.product__starIcon {
    color: red;
}
