.main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 320px;
    max-height: 420px;
    width: 100%;
}

.product__container {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    /* Remove link decoration */
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* margin: 10px; */
    /* padding: 20px; */
    width: 100%;
    background-color: white;
    border-radius: 5px;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    transition: transform 0.3s ease;
    /* Smooth hover effect */
}

.product:hover {
    transform: translateY(-5px);
    /* Lift on hover */
}

.product>img {
    height: 225px;
    width: 214px;
    object-fit: cover;
    border-radius: 5px;
    padding: 5px;

}

.product>button {
    background-color: rgb(58, 245, 188);
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    padding: 8px;
    margin: 0 10px 10px 10px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.product>button:hover {
    background-color: rgb(48, 205, 158);
}

.product__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    text-align: center;
}

.product__name {
    font-weight: bold;
    /* padding: 10px 0; */
}

.product__price,
.product__rating {
    padding: 5px;
}

.product__starIcon {
    color: red;
}
