.main {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.products__container {
    max-width: 1200px;
    display: flex;
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    min-width: 214px;
    background-color: white;
    border-radius: 5px;
    z-index: 1;
    color: black
}

.product>img {
    height: 214px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}

.product>button {
    background-color: rgb(58, 245, 188);
    margin-top: 10px;
    color: black;
    border-radius: 5px;
    padding: 5px;
}

.product>button:hover {
    background-color: rgb(48, 205, 158);
}

.product__price {
    margin-top: 5px;
}

.product__info {
    height: 100px;
    margin-bottom: 15px;
}
