.profile {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profileNotice {
    width: 180px;
    margin: 0 auto;
}

.profile__img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile h2 {
    margin: 10px 0;
    color: #333;
}

.profile p {
    color: #666;
    margin: 5px 0;
}

.profile button {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.profile button:hover {
    opacity: 0.8;
}

.wishlistButton {
    background-color: #28a745;
    color: white;
}

.purchaseHistoryButton {
    background-color: #17a2b8;
    color: white;
}

.manageProductsButton {
    background-color: #17a2b8;
    color: white;
}

.transactionHistoryButton {
    background-color: #28a745;
    color: white;
}

.componentContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    height: 100vh;
}
