.nav {
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #0a0e15;
  z-index: 1000;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-dropdown {
  position: absolute;
}

.logo {
  width: 38px;
  height: 38px;
}

.nav__signUp:hover {
  color: rgb(58, 245, 188);
}

.nav__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.nav__right {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.nav__optionOne {
  width: 110px;
  height: auto;
}

.nav__optionTwo {
  display: flex;
  width: 60px;
  height: auto;
  align-items: center;
  justify-content: space-evenly;
}

.itemCount {
  height: 5px;
}

.nav__optionThree {
  width: 110px;
}

.nav__optionOne,
.nav__optionThree,
.nav__optionFour {
  padding: 20px;
}

.nav__optionFour {
  padding-left: 0;
}

.nav__logout:hover {
  color: red;
}

.profileLink {
  color: white;
}

.profileLink:hover {
  color: rgb(58, 245, 188);
}

.nav__search {
  display: flex;
  width: 50%;
  align-items: center;
}

.nav__searchInput {
  height: 20px;
  width: 100%;
}

.nav__searchIcon {
  border: 1px solid white;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.basket {
  width: 35px;
  height: 100%;
  color: white;
}

.basket:hover {
  color: blue;
}
